<div class="w-full h-full flex align-items-center justify-content-center">
    <div class="w-full">
        <h2>SUMMARY:</h2>
        <p-divider />
        <span class="flex flex-row justify-content-between my-4">
            <div>
                <p>Quantity:</p>
                <p>{{ticketQt}} x {{event.title}}</p>
            </div>
            <div>
                <p>Total Price:</p>
                <P>R${{event.ticketUnitPrice * ticketQt}}</P>
            </div>
        </span>
        <div class="background w-full h-10rem"></div>

        <div class="flex flex-column gap-3 mt-3 mb-5">
            <h2 class="m-0 mb-1">{{event.title}}</h2>
            <p class="mb-2">{{event.description}}</p>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">apartment</span>
                <span class="font-medium text-secondary text-sm">{{ event.company?.name}}</span>
            </div>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">location_on</span>
                <span class="font-medium text-secondary text-sm">{{ event.address.fullAddress}}</span>
            </div>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">calendar_month</span>
                <span class="font-medium text-secondary text-sm">{{ event.startTime | date: 'dd/MM/yyyy - HH:mm' }} - {{event.endTime | date: 'dd/MM/yyyy - HH:mm'}}</span>
            </div>
        </div>
        <div class="flex align-items-center justify-content-around my-4">
            <p-button label="Buy Now" [outlined]="true" severity="danger"  />
            <p-button label="Add To Cart" [outlined]="true" (onClick)="addToCart()" />
        </div>
    </div>

</div>
