.background{
    background-image: url("https://preview.redd.it/d2hd73xxwvaa1.jpg?auto=webp&s=fe4403b88c4236ac2f8042fc38c13aef10d6d5c3");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}