<header class="flex align-items-center py-4 px-6 gap-5 justify-content-end">
  <div class="flex align-items-center gap-3">
    <div class="cursor-pointer">
      <div (click)="openUserProfile()">
        <p-avatar *ngIf="this.userProfile.image?.url; else imgNotFound" [image]="this.userProfile.image?.url" size="large" shape="circle" />
        <ng-template #imgNotFound>
          <p-avatar [image]="'/assets/images/img-not-found.jpg'" size="large" shape="circle" />
        </ng-template>
      </div>
    </div>
    <div class="hidden md:block">
      <p class="font-bold text-xl m-0">{{ 'header.hello' | translate}}, {{this.userProfile.name}}</p>
      <span class="text-xs font-medium" *ngIf="this.userProfile.role == 'CUSTOMER'">{{ 'header.customerAccount' | translate}}</span>
      <span class="text-xs font-medium" *ngIf="this.userProfile.role == 'COMPANY'">{{ 'header.companyAccount' | translate}}</span>
    </div>
  </div>

  <app-switch-theme />

  <div class="cursor-pointer">
    <div (click)="notifications.toggle($event)">
      <i class="pi pi-bell text-2xl" pBadge value="4"></i>
    </div>
    <p-overlayPanel #notifications>
      <app-notifications/>
    </p-overlayPanel>
  </div>
</header>