.text{
    font-size: 2.5rem;
    font-weight: bold;
}

.hide-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.padding{
    padding-bottom: 5.1rem;
}