<div>
  <div class="flex align-items-center gap-3 text-color mb-4">
    <i class="material-symbols-rounded text-3xl">event</i>
    <h1 class="text-3xl">{{ 'events.company.title' | translate }}</h1>
  </div>

  <p-tabView>
    <p-tabPanel header="{{ 'events.company.tab1' | translate }}">
      <p-dataView #dv [value]="events" layout="list">
        <ng-template pTemplate="empty">
          <div class="flex flex-column gap-3">
            <p class="font-semibold text-lg mb-3">{{'pages.emptyMessage' | translate }}</p>
            <a routerLink="/events/create" class="p-button font-semibold no-underline w-max">{{'events.btnCreate' | translate}}</a>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-between">
            <div class="w-max">
              <p-dropdown [options]="sortOptions" placeholder="{{ 'events.sortByDate.placeholder' | translate }}" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0" />
            </div>
            <p-button icon="pi pi-plus" label="{{'events.btnCreate' | translate}}" (onClick)="openCreatePage()" />
          </div>
        </ng-template>
        <ng-template pTemplate="list">
          <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let event of events; let first = first" [ngClass]="{ 'border-top-1 surface-border': !first }">
              <app-company-event [event]="event" (removeEvent)="removeEvent(event.id!)"></app-company-event>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </p-tabPanel>
    <p-tabPanel header="{{ 'events.company.tab2' | translate }}">
      <app-user-calendar></app-user-calendar>
    </p-tabPanel>
  </p-tabView>
</div>