<form [formGroup]="customerForm" (ngSubmit)="handleSubmit()">
  <div formGroupName="customer" class="mb-6">
    <div class="grid">
      <div class="col-6">
        <p-floatLabel>
          <input type="text" pInputText formControlName="name" class="w-full" />
          <label for="name">{{ 'forms.customer.name' | translate}}</label>
        </p-floatLabel>
        <div class="form-error" *ngIf="customerForm.get('customer.name')?.hasError('required') && customerForm.get('customer.name')?.touched">
          {{ 'forms.customer.name' | translate}} {{ 'forms.requiredMessage' | translate}}
        </div>
      </div>
      <div class="col-6">
        <p-floatLabel>
          <input type="text" pInputText formControlName="phone" class="w-full" />
          <label for="phone">{{ 'forms.customer.phone' | translate}}</label>
        </p-floatLabel>
      </div>
    </div>
    <div class="mt-4">
      <p-floatLabel>
        <input type="text" pInputText formControlName="address" class="w-full" />
        <label for="address">{{ 'forms.customer.address' | translate}}</label>
      </p-floatLabel>
      <div class="form-error" *ngIf="customerForm.get('customer.address')?.hasError('required') && customerForm.get('customer.address')?.touched">
        {{ 'forms.customer.address' | translate}} {{ 'forms.requiredMessage' | translate}}
      </div>
    </div>
  </div>

  <div class="my-3">
    <p-button label="{{'buttons.register' | translate}}" type="submit" severity="contrast" styleClass="w-full" />
  </div>
</form>
<p-toast />