<div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 h-full">
  <div class="md:w-12rem relative h-full">
    <img class="block xl:block mx-auto border-round w-full h-full" [src]="getThumbnailImage(event.images)" [alt]="event.title" />
    <p-tag value="{{ 'events.btnReview' | translate }}" [rounded]="true" severity="warning" *ngIf="!event.customerRating" class="absolute" [style.left.px]="4" [style.top.px]="4" />
  </div>
  <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
      <div class="flex flex-column gap-2 mb-2">
        <div class="text-lg font-bold text-900 mb-2">{{ event.title }}</div>
        <div class="flex align-items-center gap-2">
          <span class="material-symbols-rounded text-lg">apartment</span>
          <span class="font-medium text-secondary text-sm">{{ event.company?.name}}</span>
        </div>
        <div class="flex align-items-center gap-2">
          <span class="material-symbols-rounded text-lg">calendar_month</span>
          <span class="font-medium text-secondary text-sm">{{ dateFormat(event.startTime!) }} - {{dateFormat(event.endTime!)}}</span>
        </div>
        <div class="flex align-items-center gap-2">
          <span class="material-symbols-rounded text-lg">location_on</span>
          <span class="font-medium text-secondary text-sm">{{ event.address.fullAddress}}</span>
        </div>
      </div>
      <div class="surface-100 p-1 border-round-xl">
        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2 border-round-xl shadow-1">
          <p-rating [ngModel]="event.customerRating" [stars]="5" [cancel]="false" (onRate)="rateEvent($event.value)"></p-rating>
        </div>
      </div>
    </div>
    <div class="flex flex-column md:align-items-end gap-5 justify-content-between">
      <div class="flex flex-column align-items-end gap-2">
        <span class="text-xl font-semibold text-900" *ngIf="event.ticketUnitPrice > 0">{{ event.ticketUnitPrice | currency }}</span>
        <div *ngIf="event.ticketTax > 0" class="flex align-items-center">
          <span class="mr-2">{{'forms.event.ticketTax' | translate}}:</span>
          <span class="text-900">{{ event.ticketTax | currency }}</span>
        </div>
        <span class="text-lg font-semibold text-green-600" *ngIf="!event.ticketUnitPrice">Free Entry</span>
      </div>
      <div class="flex flex-row-reverse md:flex-row gap-2">
        <p-button icon="pi pi-eye" label="{{'events.btnSeeDetails' | translate}}" [outlined]="true" (onClick)="openEventPage()" />
        <p-button icon="pi pi-times" severity="danger" label="{{'events.btnCancel' | translate}}" [outlined]="true" (onClick)="cancelEvent($event)" *ngIf="!eventHasEnded()" />
      </div>
    </div>
  </div>
</div>