<section *ngIf="load == true" class="surface-0 border-round-lg text-color flex align-items-center gap-2 card shadow-3 h-full">
    <div class="w-4 h-full">
        <img class="w-full h-full border-round-lg object-cover" src="{{this.urlImage}}" alt="event image">
    </div>
    <div class="flex align-items-center justify-content-between w-full p-4">
        <div class="flex flex-column gap-3">
            <h2 class="m-0 mb-1">{{event.title}}</h2>
            <p class="mb-2">{{event.description}}</p>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">apartment</span>
                <span class="font-medium text-secondary text-sm">{{ event.company?.name}}</span>
            </div>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">location_on</span>
                <span class="font-medium text-secondary text-sm">{{ event.address.fullAddress}}</span>
            </div>
            <div class="flex align-items-center gap-2">
                <span class="material-symbols-rounded text-lg">calendar_month</span>
                <span class="font-medium text-secondary text-sm">{{ event.startTime | date: 'dd/MM/yyyy - HH:mm' }} - {{event.endTime | date: 'dd/MM/yyyy - HH:mm'}}</span>
            </div>
        </div>
        <div class="flex flex-column pb-2 pr-3 h-full align-items-end justify-content-center">
            <p class="mb-1"> {{item.quantity}} {{'events.available' | translate}}</p>
            <div class="flex gap-3 w-min">
                <p-button icon="pi pi-trash "  severity="danger" (onClick)="deleteEvent()" />
            </div>
        </div>
    </div>
</section>