<div class="flex gap-4 h-full">
  <p-card styleClass="h-full">
    <p-fileUpload accept="image/*" maxFileSize="1000000" (onSelect)="onUploadImage($event)">
      <ng-template pTemplate="header" let-chooseCallback="chooseCallback">
        <div class="flex flex-column justify-content-center align-items-center">
          <div *ngIf="userImage || userProfile.image; else defaultImage">
            <img [src]="userProfile.image.url" alt="User Photo" class="user-img">
          </div>
          <ng-template #defaultImage>
            <img src="assets/images/img-not-found.jpg" alt="User Photo" class="user-img">
          </ng-template>
          <div class="flex justify-content-between align-items-center gap-4">
            <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" class="ml-2" />
            <p-button (onClick)="deletePhoto()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="w-15rem">

          <div *ngIf="company" class="text-xl text-center font-bold mb-4">{{ company.name }}</div>
          <div *ngIf="customer" class="text-xl text-center font-bold mb-4">{{ customer.name }}</div>
          <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-envelope"></i> {{ userProfile.email }}</div>

          <div *ngIf="company">
            <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-phone"></i> {{ company.phone }}</div>
            <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-id-card"></i> {{ company.duns }}</div>
            <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-map-marker"></i> {{ company.address?.fullAddress }}</div>
          </div>

          <div *ngIf="customer">
            <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-phone"></i> {{ customer.phone }}</div>
            <div class="flex align-items-center gap-2 mb-3"><i class="pi pi-map-marker"></i> {{ customer.address?.fullAddress }}</div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="file"></ng-template>
      <ng-template pTemplate="empty"></ng-template>
    </p-fileUpload>
  </p-card>
  <p-card styleClass="h-full">
    <form *ngIf="company" [formGroup]="companyForm">
      <div class="mb-5">
        <h2 class="text-xl mb-6">{{ 'forms.company.label' | translate }}</h2>
        <div class="grid">
          <div class="col-6">
            <p-floatLabel>
              <input type="text" pInputText formControlName="name" class="w-full" />
              <label for="name">{{ 'forms.company.name' | translate}}</label>
            </p-floatLabel>
            <app-form-error [control]="companyForm.get('company.name')!" />
          </div>
          <div class="col-6">
            <p-floatLabel>
              <input type="text" pInputText formControlName="phone" class="w-full" />
              <label for="phone">{{ 'forms.company.phone' | translate}}</label>
            </p-floatLabel>
            <app-form-error [control]="companyForm.get('company.phone')!" />
          </div>
        </div>
        <div class="mt-4">
          <p-floatLabel>
            <input type="text" pInputText formControlName="duns" class="w-full" />
            <label for="duns">D.U.N.S</label>
          </p-floatLabel>
          <app-form-error [control]="companyForm.get('company.duns')!" />
        </div>
      </div>
    </form>

    <form *ngIf="customer" [formGroup]="customerForm">
      <div class="mb-4">
        <h2 class="text-xl mb-6">{{ 'forms.customer.label' | translate }}</h2>
        <div class="grid">
          <div class="col-6">
            <p-floatLabel>
              <input type="text" pInputText formControlName="name" class="w-full" />
              <label for="name">{{ 'forms.customer.name' | translate}}</label>
            </p-floatLabel>
            <app-form-error [control]="customerForm.get('name')!" />
          </div>
          <div class="col-6">
            <p-floatLabel>
              <input type="text" pInputText formControlName="phone" class="w-full" />
              <label for="phone">{{ 'forms.customer.phone' | translate}}</label>
            </p-floatLabel>
            <app-form-error [control]="customerForm.get('phone')!" />
          </div>
        </div>
      </div>
    </form>

    <app-address-form (addressFormReady)="onAddressFormReady($event)"></app-address-form>

    <div class="flex align-items-center justify-content-end">
      <p-button label="{{ 'buttons.save' | translate }}" (onClick)="customer ? saveCustomer() : saveCompany() " />
    </div>
  </p-card>
</div>