<div class="h-full flex flex-column justify-content-center px-8">
  <div class="mb-6">
    <h1>{{ 'login.title' | translate }}</h1>
    <div class="text-sm">
      {{ 'login.dontHaveAccount' | translate }}
      <a routerLink="/register">{{ 'login.signUp' | translate }}</a>
    </div>
  </div>

  <div id="g_id_onload"
     data-client_id="74875260417-pc37n0v2ioj61kgdcbgrekjmag27qscj.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8080/login"
     data-nonce=""
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>


  <app-login-form></app-login-form>
</div>