<div class="relative w-full h-full  align-items-center justify-content-around">
    <div class="w-full h-full flex flex-column align-items-center justify-content-center gap-2">
        <form [formGroup]="formFilter" (ngSubmit)="onSubmit()" class="flex align-items-center justify-content-around w-full">
            <p-floatLabel>
                <input pInputText class="w-10rem" id="title" formControlName="title" />
                <label for="title">TITLE</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText class="w-10rem" id="location" formControlName="location" />
                <label for="location">LOCATION</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText class="w-10rem" id="descrption" formControlName="description" />
                <label for="descrption">DESCRIPTION</label>
            </p-floatLabel>
        </form>
        <div class="flex align-items-center justify-content-around w-full">

        </div>
    </div>
    <div class="absolute bottom-0 right-0 p-2">
        <p-button label="Submit" severity="info" (onClick)="onSubmit()"  />
    </div>
</div>
