<div class=" text-color w-full h-full  align-items-center justify-content-around ">
    <div class="w-full h-full flex align-items-center justify-content-center gap-2">
        <form [formGroup]="formFilter" (ngSubmit)="onSubmit()" 
        class="flex w-max flex-column lg:flex-row align-items-center w-full borda shadow-2 search-bar mr-3">
            <div class="border-filter">
                <p-floatLabel >
                    <input pInputText class="w-10rem "  id="title" formControlName="title" />
                    <label class="" for="title">{{ 'events.search' | translate }}</label>
                </p-floatLabel>
            </div>
            <div class="border-filter">
                <p-floatLabel>
                    <p-calendar class=""           
                    formControlName="dates"
                    selectionMode="range" 
                    [iconDisplay]="'input'" 
                    [showIcon]="true"
                    inputId="icondisplay" />
                    <label class="" for="title">{{'events.date'| translate }}</label>
                </p-floatLabel>
            </div>
        </form>
        <p-button label="{{'events.submit' | translate }}" icon="pi pi-search" severity="info" (onClick)="onSubmit()" />
    </div>
</div>
