<section class="hide-scrollbar w-full h-full overflow-auto pb-8 border-round-lg ">
    <div class="w-full h-max bg-primary gap-2 border-round-lg "> 
        <div class="sticky top-0 w-full h-10rem bg-blue-900 border-round-lg">
            <filter-component (emitter)="filterSubmit($event)" ></filter-component>
        </div> 
        <div class="flex flex-column px-5 py-2 gap-3">  
            <div  *ngFor="let event of events"
            class="">
                <event-component [event]="event"></event-component>
            </div>
        </div>
    </div>  
</section>
