<section class=" w-full h-full padding border-round-lg ">
    <div class="w-full h-full gap-2 border-round-lg"> 
        <p-card class="sticky top-0 w-full h-7rem surface-100 border-round-lg">               
            <filter-component (emitter)="filterSubmit($event)" ></filter-component>
        </p-card>
        <div class="hide-scrollbar overflow-auto h-full flex flex-column px-5 py-2 gap-3 mt-4">  
            <div *ngFor="let event of events">
                <event-component [event]="event"></event-component>
            </div>
        </div>
    </div>  
</section>
