@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

html,
body {
    margin: 0;
    padding: 0;
}

.form-error {
    font-size: 12px;
    font-weight: 500;
    padding: 6px 2px;
    color: rgb(255, 93, 93);
}
.p-inputnumber-input {
    flex: 1 1 auto;
    width: 2.6rem;
    padding: 0.5rem 0.9rem;
}


.p-password, .p-inputtext {
    width: 100% !important;
}