@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

// Custom colors
.text-primary-100 {
    color: #2cb2ba !important;
}

.bg-primary-100 {
    background-color: #2cb2ba !important;
}

.text-primary-200 {
    color: #009098 !important;
}

.bg-primary-200 {
    background-color: #009098 !important;
}

.text-accent-100 {
    color: #fbb92d !important;
}

.bg-accent-100 {
    background-color: #fbb92d !important;
}

.text-accent-200 {
    color: #8e5d00 !important;
}

.bg-accent-100 {
    background-color: #8e5d00 !important;
}